[Unit]
Description=Ping the dead-man's-switch every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Persistent=false

[Install]
WantedBy=timers.target
